# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

node_modules
.DS_Store
dist
dist-ssr
*.local

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# env files
.env.local
.env.*.local
.env

# data-fair dev-server local files
.dev-config

# TypeScript
*.tsbuildinfo
src/config/.type

opencode.json